<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mati.examenpmm" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pantallaResultado"
            android:label="@string/title_activity_pantalla_resultado"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".dibujo"
            android:label="@string/title_activity_dibujo" >
        </activity>
    </application>

</manifest>
